<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.ivos.application.mapper.ApplicationMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO application(id,user_id,username,start_time,end_time,img_url,departure_addr,destination_addr,reason,remark,status,vehicle_id,reject_reason,create_time,update_time)
        VALUES (NULL,#{userId},#{username},#{startTime},#{endTime},#{imgUrl},#{departureAddr},#{destinationAddr},#{reason},#{remark},#{status},#{vehicleId},#{rejectReason},#{createTime},#{updateTime})
    </insert>

    <select id="selectApplication" resultType="cn.tedu.ivos.application.pojo.vo.ApplicationVO">
        SELECT id,user_id,username,start_time,end_time,img_url,departure_addr,destination_addr,reason,remark,status,vehicle_id,reject_reason,create_time,update_time
        FROM application
        <where>
            <if test="status!=null and status!=''">
                AND status = #{status}
            </if>
            <if test="username!=null and username!=''">
                AND username LIKE CONCAT('%',#{username},'%')
            </if>
            <if test="departureAddr!=null and departureAddr!=''">
                AND departure_addr LIKE CONCAT('%',#{departureAddr},'%')
            </if>
            <if test="destinationAddr!=null and destinationAddr!=''">
                AND destination_addr LIKE CONCAT('%',#{destinationAddr},'%')
            </if>
        </where>
    </select>

    <update id="update">
        update application
        <set>
            <if test="userId !=null and userId !=''">
                user_id = #{userId},
            </if>
            <if test="startTime !=null">
                start_time = #{startTime},
            </if>
            <if test="endTime !=null">
                end_time = #{endTime},
            </if>
            <if test="imgUrl !=null and imgUrl !=''">
                img_url = #{imgUrl},
            </if>
            <if test="departureAddr !=null and departureAddr !=''">
                departure_addr = #{departureAddr},
            </if>
            <if test="destinationAddr !=null and destinationAddr !=''">
                destination_addr = #{destinationAddr},
            </if>
            <if test="reason !=null and reason !=''">
                reason = #{reason},
            </if>
            <if test="remark !=null and remark !=''">
                remark = #{remark},
            </if>
            <if test="status !=null and status !=''">
                status = #{status},
            </if>
            <if test="vehicleId !=null and vehicleId !=''">
                vehicle_id = #{vehicleId},
            </if>
            <if test="rejectReason !=null and rejectReason !=''">
                reject_reason = #{rejectReason},
            </if>
            <if test="updateTime !=null">
                update_time = #{updateTime},
            </if>
        </set>
        where id=#{id}
    </update>
</mapper>