<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.ivos.vehicle.mapper.VehicleMapper">
    <select id="selectVehicle" resultType="cn.tedu.ivos.vehicle.pojo.vo.VehicleVO">
        SELECT id,brand,license,model,code,displacement,status,type,color,kilometers,reg_time,buy_time,buy_money,battery_type,create_time,geofence_bind_status,geofence_id
        FROM vehicle
        <where>
            <if test="license!=null and license!=''">
                AND license LIKE CONCAT('%',#{license},'%')
            </if>
            <if test="brand!=null and brand!=''">
                AND brand LIKE CONCAT('%',#{brand},'%')
            </if>
            <if test="id!=null">
                AND id=#{id}
            </if>
            <if test="geofenceId!=null">
                AND geofence_id=#{geofenceId}
            </if>
            <if test="geofenceBindStatus!=null and geofenceBindStatus!=''">
                AND geofence_bind_status=#{geofenceBindStatus}
            </if>
        </where>
    </select>

    <insert id="insert">
        INSERT INTO vehicle(id,brand,license,model,code,displacement,status,type,color,kilometers,reg_time,buy_time,buy_money,battery_type,create_time,geofence_bind_status,geofence_id)
        VALUES
            (#{id},#{brand},#{license},#{model},#{code},#{displacement},#{status},#{type},#{color},#{kilometers},#{regTime},#{buyTime},#{buyMoney},#{batteryType},#{createTime},#{geofenceBindStatus},#{geofenceId})
    </insert>

    <update id="update">
        UPDATE vehicle
        <set>
            <if test="brand!=null and brand!=''">
                brand=#{brand},
            </if>
            <if test="license!=null and license!=''">
                license=#{license},
            </if>
            <if test="model!=null and model!=''">
                model=#{model},
            </if>
            <if test="code!=null and code!=''">
                code=#{code},
            </if>
            <if test="displacement!=null and displacement!=''">
                displacement=#{displacement},
            </if>
            <if test="type!=null and type!=''">
                type=#{type},
            </if>
            <if test="color!=null and color!=''">
                color=#{color},
            </if>
            <if test="kilometers!=null and kilometers!=''">
                kilometers=#{kilometers},
            </if>
            <if test="buyTime!=null">
                buy_time=#{buyTime},
            </if>
            <if test="regTime!=null">
                reg_time=#{regTime},
            </if>
            <if test="updateTime!=null">
                update_time=#{updateTime},
            </if>
            <if test="buyMoney!=null and buyMoney!=''">
                buy_money=#{buyMoney},
            </if>
            <if test="batteryType!=null and batteryType!=''">
                battery_type=#{batteryType},
            </if>
            <if test="geofenceBindStatus!=null and geofenceBindStatus!=''">
                geofence_bind_status=#{geofenceBindStatus},
            </if>
            <if test="geofenceId!=null">
                geofence_id=#{geofenceId},
            </if>
            <if test="status!=null and status!=''">
                status=#{status}
            </if>
        </set>
        WHERE id=#{id}
    </update>
    <delete id="deleteVehicle">
        DELETE FROM vehicle WHERE id=#{id}
    </delete>
    <update id="updateNullValue">
        UPDATE vehicle
        <set>
            <if test="geofenceId==null">
                geofence_id = null,
            </if>
            <if test="geofenceBindStatus != null">
                geofence_bind_status = #{geofenceBindStatus},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime}
            </if>
        </set>
        where id=#{id}
    </update>
</mapper>